<template>
  <style>
    .container {
      margin: 10px 0;
      box-shadow: 0 0 5px #dedede;
      position: relative;
      text-align: center;
      width: 200px;
      border: 1px black solid;
      height: 90px;
      background-color: rgba(0,0,0, 0.7);
    }
    .container.green {
      background-color: green;
    }
    .container.red {
      background-color: red;
    }
    .container.blue {
      background-color: green;
    }
    .clock {
      position: relative;
      text-align: center;
      top: 50%;
      transform:  translateY(-50%);
      position: relative;
      border-radius: 3px;
    }
    .time {
      color: blue;
      font-size: 45px;
      font-family: Arial;
    }
  </style>
  <div class="container">
    <div class="clock">
      <div class="time"></div>
    </div>
  </div>
</template>
<script>
  (function() {
    //Get the contents of the template (_currentScript is available with webcomponents.js, use currentScript if you don't use this Polyfill)
    var template = document._currentScript.ownerDocument.querySelector('template');
    //Create a prototype for this component
    var proto = Object.create(HTMLElement.prototype);

    //Register a createdCallback
    proto.createdCallback = function() {
      var clone = document.importNode(template.content, true);
      this.createShadowRoot().appendChild(clone);

      //Grab the elements from the shadow root
      this.$container = this.shadowRoot.querySelector('.container');
      this.$time = this.shadowRoot.querySelector('.time');
      this.updateTheme(this.getAttribute('theme'));

      //Call the draw function initially
      this.draw();
      var that = this;
      //Call the draw function every section to update the time
      setInterval(function(){
        that.draw();
      }, 1000);
    };

    proto.draw = function() {
      this.date = new Date();
      this.$time.innerHTML = this.date.toLocaleTimeString();
    };

    //When the element is attached to the DOM populate the select
    proto.attachedCallback = function() {

    };

    proto.updateTheme = function(theme) {
      var val = "green";
      if (["red", "green", "blue"].indexOf(theme) > -1) {
        val = theme;
      }
      this.$container.className = "container " + val;
    };

    //When the options are updated, re-populate the select
    proto.attributeChangedCallback = function(attrName, oldVal, newVal) {
      switch (attrName) {
        case "theme":
          this.updateTheme(newVal);
          break;
      }
    };
    //Register the element with the document
    document.registerElement('clock-widget', {prototype: proto});
  }());
</script>
